/***** header *****/ 
.header {
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: #003380;
}

.header-logo {
    padding-top: 5px;
    padding-left: 20px;
}

.header a {
    text-wrap:wrap;
    color: #f2f2f2;
    text-decoration-line: none;
}

.header p{
    display: inline-flex;
    margin-bottom: auto; 
    padding-bottom:10px;
    text-align: center;
    padding-top: 2px;
    align-items: center;
    color: #f2f2f2;
    padding-left: 2px;
}

/***** navlink *****/ 
.navlink {
    display: inline-flex;
    align-items: center;
    float: right;
    padding-right: 20px;
    font-size: 10px;
    margin-top: 10px;
}

.navlink a {
    padding-right: 7px;
    
}

.dropbtn {
    color: white;
}

.dropdown-content {
    display: none;
    position: fixed;
    right: 10px;
    background-color: #ffff;
   border:1px solid #d3caca;
    border-radius: 1px;
}

.dropdown-content a {
    color: #000000;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    font-weight: 500;
}

.dropdown-content p {
    color: #000000;
    padding-top: 0%;
    padding-bottom: 0%;
    padding: 10px 10px;
    display: inline-block;
}

.dropdown-content a:hover {
    background-color: #dad5d5;
}

.dropdown:hover .dropdown-content {
    display: block;
  }
